<div class="container mt-4">
    <h1 class="text-danger text-center"><strong><u>Posts</u></strong></h1>
  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-end">
      <button 
      routerLink="/posts/add-post"
      mat-raised-button color="primary">Add Post</button>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-4 mb-4"
      *ngFor="let postObj of postArr; trackBy: trackById"
    >
      <app-post-card [post]="postObj"></app-post-card>
    </div>
  </div>
</div>
